# Logica, control flow en filteren

## 1. Logica

### 1.1 Vergelijken met comparison operators

Via deze link vind je de Python 'comparison operators': https://www.pythontutorial.net/python-basics/python-comparison-operators/

- Maak de variabelen my_age en your_age aan. Wijs hieraan je eigen leeftijd en de leeftijd van iemand anders toe.
- Check of your_age kleiner dan of gelijk is aan my_age. Print het resultaat.
- Check of 'erik' niet gelijk is aan 'Erik'. Print het resultaat.
- Check of '1978' groter is dan 'Erik'. Print het resultaat.
- Check of True groter is dan False. Print het resultaat.

In [19]:
my_age = 53
your_age = 34

print(your_age <= my_age)
print('erik' != 'Erik')
print('1978' > 'Erik')
print(True > False)

True
True
False
True

### 1.2 Vergelijken met Numpy arrays

Voer onderstaande cel uit om 4 Numpy arrays aan te maken:
- np_to: omzet per winkel
- np_floor: winkeloppervlaktes in vierkante meters
- np_comp_sc: concurrentiescores
- np_comp_no: aantal concurrenten

In [20]:
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata_clean.csv',sep=";")

#Creating arrays from dataframe
np_to = storedata['Profit'].values
np_floor = storedata['Floor Space'].values
np_comp_sc = storedata['Competition score'].values
np_comp_no = storedata['Competition number'].values

- Print een numpy array good_to die bestaat uit 'Booleans' (True of False) die aangeven of de omzet groter is dan of gelijk is aan 2800000.

In [21]:
good_to = np_to >= 2800000
print(good_to)

[ True  True False False False  True False  True  True  True  True False
  True  True False False  True  True  True  True  True  True  True  True
  True False  True  True  True False False False False False  True  True
  True  True  True False  True False False  True  True  True False False
  True False False False  True  True False False False False  True  True
  True  True False  True False  True  True  True False  True False False
  True  True  True False False False  True  True  True False  True False
  True  True False  True  True  True False  True False False  True  True
  True  True False False  True  True  True  True False  True False  True
 False  True  True False False False  True  True False False False  True
 False False  True False  True  True  True  True  True  True False False
 False False False  True]

- Maak de numpy array to_fl met daarin de omzet per vierkante meter van iedere winkel.
- Print de numpy arry good_to_fl die Booleans bevat die aangeven of de omzet per vierkante meter hoger is dan of gelijk aan 200 is.

In [22]:
to_fl = np_to / np_floor
good_to_fl = to_fl >= 200
print(good_to_fl)

[False  True False False  True False  True  True  True  True  True False
  True  True False  True  True  True  True  True False False False  True
  True False  True  True False False False False False False  True  True
  True  True  True False  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True False False  True False
  True False False  True  True  True  True  True False  True False False
  True  True  True  True False False  True  True  True  True  True False
  True False  True  True False  True False False False False  True  True
 False False False False  True  True False  True  True  True False False
 False  True  True False False False  True False False False False  True
 False  True False False  True  True False  True  True  True  True False
  True False False  True]

- Print de numpy array better, die bestaat uit Booleans, waarin je checkt of good_to groter is dan of gelijk is aan good_to_fl.
- Wat kun je opmaken uit deze numpy array?

In [23]:
better = good_to >= good_to_fl
print(better)

# the value is True if good_to is True or they are both False

[ True  True  True  True False  True False  True  True  True  True  True
  True  True  True False  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True False False  True  True  True False False
  True  True False False  True  True False False  True  True  True  True
  True  True  True  True False  True  True  True  True  True  True  True
  True  True  True False  True  True  True  True  True False  True  True
  True  True False  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True  True  True False  True
 False  True  True  True]

### 1.3 Boolean operators: and, or, not
1) Maak print statements waarmee je checkt of:
- stamford_staff groter is dan 6 EN kleiner is dan 8
- stamford_staff groter is dan 6 OF kleiner is dan 8

2) Pas de not() functie toe om dezelfde checks nogmaals te doen.

In [24]:
stamford_staff = 8
skipton_staff = 2
#start coding here
print ('Stamford staff over 6 and smaller then 8 is', (stamford_staff > 6) & (stamford_staff < 8))
print ('Stamford staff smaller then 6 or over 8 is', (stamford_staff > 6) | (stamford_staff < 8))

print('\nResult with not():')
print ('Stamford staff over 6 and smaller then 8 is', not((stamford_staff > 6) & (stamford_staff < 8)))
print ('Stamford staff smaller then 6 or over 8 is', not((stamford_staff > 6) | (stamford_staff < 8)))

Stamford staff over 6 and smaller then 8 is False
Stamford staff smaller then 6 or over 8 is True

Result with not():
Stamford staff over 6 and smaller then 8 is True
Stamford staff smaller then 6 or over 8 is False

### 1.4 np.logical.and(), np.logical.or(), np.logical.not()
- Print boolean arrays (bestaan alleen uit True en False) die antwoord geven op de volgende vragen:
    - Welke concurrentie scores (np_comp_sc) zijn groter dan 13 of kleiner dan 11?
    - Welke getallen zijn groter dan of gelijk aan 15 in zowel np_comp_sc en np_comp_no?

In [27]:
print (np.logical_or(np_comp_sc >13, np_comp_sc<11))
print ('\n',np_comp_no[np.logical_and(np_comp_sc >= 15, np_comp_no >=15)])

[ True  True  True False False False  True  True  True  True False  True
  True False  True  True False  True False  True  True  True  True  True
  True  True  True  True  True False  True  True  True False  True  True
  True  True False  True  True False False  True  True  True  True False
  True  True False  True  True  True  True  True  True  True False  True
  True  True  True False False  True  True False False  True  True False
  True  True  True  True False  True  True False  True  True  True  True
  True  True  True  True  True  True  True False False False  True  True
  True  True  True  True False  True  True  True  True  True  True  True
 False  True  True False False False  True  True  True False False  True
  True  True  True False  True  True  True  True  True  True  True  True
  True  True  True False]

 [16 15 16 16 17 16 17 17 19 15 16 19 16 19 18 17 16 15 15 15 16 15 17 18
 17 19 16 19 16 15 15 15 19 18 18 16 18]

## 2 Control flow

### 2.1 if, else, elif

**stamford_staff**
- Print 'big store' als stamford_staff groter is dan 8. 
- Print 'medium store' als stamford_staff groter is dan 6 en kleiner of gelijk aan 8.
- Print 'small store' in alle andere gevallen.

**stamford_loc**
- Print stamford_loc als de locatie gelijk is aan 'Retail Park'. 
- Als dit niet het geval is print dan stamford_loc als de locatie gelijk is aan 'Shopping Centre'. 
- Print de eerste letter van de woorden in stamford_loc met hoofdletters als de eerdere checks niet waar zijn.

In [35]:
stamford_staff = 8
stamford_loc = "shopping centre"

# Start coding here: stamford_staff
if stamford_staff > 8:
    print ('big store')
elif stamford_staff > 6:
    print ('medium store')
else:
    print ('small store')
    
# Start coding here: stamford_loc
if stamford_loc == 'Retail Park':
    print ('location',stamford_loc, 'is equal to Retail Park')
elif stamford_loc == 'Shopping Centre':
    print ('location',stamford_loc, 'is equal to Shopping Centre')
else:
    print (stamford_loc.capitalize())

medium store
Shopping centre

### Selecteren van data in een dataframe

In de volgende opdrachten ga je data selecteren uit een dataframe. Zorg ervoor dat je precies de juiste kolomnamen gebruikt. Het selecteren van kolommen en data is hoofdlettergevoelig (case-sesitive).
- Voer onderstaande cel uit om het dataframe storedata te bekijken.

In [36]:
#Use this cell to check the data and the column headers.
display(storedata)

pandas.core.frame.DataFrame

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
132,Sandy,UK,96858,Matías,6,11205,103,No,15,Shopping Centre,1657769,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,1407456,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels (rijen / records) uit storedata die parkeergelegenheid ('Car park') hebben.

In [45]:
display (storedata[storedata['Car park'].str.lower().str.startswith('y')])
# display(storedata['Car park'].unique())

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
5,Southwell,UK,2309,Sarah,7,17888,119,Yes,19,Retail Park,1614716,1325848,1220059,1193318,2,394,17,11,3058134,Good
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
7,Sowerby Bridge,UK,4214,Ashley,9,15643,114,Y,11,Retail Park,1052606,1025407,1004490,1000319,4,258,12,16,3345936,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Solihull,UK,93991,Julieta,9,13908,109,Yes,18,Shopping Centre,1586575,1021914,1017342,1013646,8,268,13,17,3774401,Excellent
129,Southborough,UK,95915,Letícia,9,10080,100,Yes,19,Retail Park,1541541,1474539,1462733,1384705,6,200,16,18,3584813,Excellent
130,Sutton Coldfield,UK,96852,Hannah,5,11884,104,Yes,18,Retail Park,1030405,1016260,1004442,1003598,10,200,12,14,2561019,Reasonable
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de rijen van winkels in storedata die 7 of meer medewerkers ('Staff') hebben.

In [32]:
display (storedata.loc[storedata['Staff']>=7 ])

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
5,Southwell,UK,2309,Sarah,7,17888,119,Yes,19,Retail Park,1614716,1325848,1220059,1193318,2,394,17,11,3058134,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Solihull,UK,93991,Julieta,9,13908,109,Yes,18,Shopping Centre,1586575,1021914,1017342,1013646,8,268,13,17,3774401,Excellent
129,Southborough,UK,95915,Letícia,9,10080,100,Yes,19,Retail Park,1541541,1474539,1462733,1384705,6,200,16,18,3584813,Excellent
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,1407456,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels in storedata waarvan de locatie ('Location') NIET in een retail park en NIET in een shopping centre is. Hint: pas de juiste vorm van np.logical toe.

In [46]:
display ( storedata[np.logical_and(storedata['Location'] != 'Retail Park', storedata['Location'] != 'Shopping Centre')])

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
9,Stanley,UK,4860,Grace,7,12071,105,Yes,19,High Street,1141000,1029186,1005096,1000687,6,222,16,18,3153278,Good
14,Sawbridgeworth,UK,11440,Matheus,5,14588,111,Yes,17,High Street,1242546,1053056,1047783,1007899,10,261,11,19,2724068,Reasonable
15,Stocksbridge,UK,13132,Megane,6,11824,104,Yes,14,High Street,1043277,1004546,1001718,1000627,6,225,11,19,2382751,Poor
16,Salcombe,UK,13984,Samuel,8,14291,110,Yes,18,High Street,1395395,1010441,1005783,1004909,2,272,16,11,3321899,Good
21,Sudbury,UK,16727,Isabella,7,19025,122,Yes,11,High Street,1817320,1735622,1723395,1272149,11,223,10,17,3252148,Good
22,Steyning,UK,16741,Laurence,7,18535,121,No,13,High Street,1182360,1077124,1049837,1014968,9,266,11,18,3041618,Good
24,Snaith,UK,19296,Lucía,9,19337,123,Yes,16,High Street,1137206,1066238,1049975,1041967,5,293,17,19,4217291,Excellent
26,Skelmersdale,UK,20971,Sofía,7,13810,109,Yes,14,High Street,1392247,1077683,1068892,1045144,5,270,13,17,3516397,Excellent
28,Sunderland,UK,23025,Abigail,5,16736,116,Yes,10,High Street,1474310,1366274,1003031,1002039,6,237,18,10,2942839,Reasonable
29,Streatham,UK,23231,Fernanda,9,12959,107,N,17,High Street,1575328,1245626,1210849,1099580,11,241,11,13,2242288,Poor
32,Stretford,UK,24174,Francisca,6,18399,120,Yes,15,High Street,1101114,1087742,1063778,1018675,10,408,12,15,2203994,Poor
33,St Austell,UK,24618,Vinícius,8,18077,120,Yes,16,High Street,1518005,1057762,1010136,1008599,9,281,10,11,2458785,Poor
35,Southwick,UK,26307,Hannah,9,16915,117,Yes,13,Village,1697206,1222492,1162941,1018063,4,368,10,18,4185306,Excellent
39,Stainforth,France,35207,Hannah,5,13127,107,No,16,High Street,1171849,1084983,1006564,1003013,7,235,19,10,2085733,Poor
41,Stourbridge,UK,36979,Valentina,9,12075,105,Yes,10,High Street,1987353,1812472,1105847,1090676,7,227,14,13,2506748,Reasonable
45,Southwold,UK,40676,Sydney,9,14948,112,No,15,High Street,1892976,1100161,1053955,1005729,4,263,19,17,3121837,Good
46,Shanklin,UK,41475,Jeremy,5,11572,103,Yes,12,High Street,1518361,1004958,1002835,1001393,3,209,14,17,2799074,Reasonable
56,Sandwich,UK,45577,Matthew,7,11898,104,Yes,17,High Street,1682013,1560162,1447033,1397710,8,200,18,15,2104028,Poor
67,Strood,UK,55967,Jessica,8,14833,112,Yes,15,High Street,1345628,1088954,1035579,1025745,2,249,14,13,3029751,Good
68,Southam,UK,56056,Ana,6,13709,109,Yes,11,High Street,1061935,1006165,1002529,1001991,8,291,14,11,1512452,Poor
70,Swanage,UK,56930,Julie,6,13899,109,Yes,19,High Street,1888945,1523248,1508361,1233530,2,227,10,15,2526616,Reasonable
71,Seaton,UK,57418,Liam,5,15876,114,Yes,14,High Street,1423209,1408262,1185937,1046917,7,315,12,11,2333940,Poor
72,Swaffham,UK,58249,Jo,9,13008,107,No,17,High Street,1568216,1509273,1447590,1253376,5,251,14,18,3197934,Good
75,Shipley,UK,59431,Daniel,5,12545,106,Yes,17,High Street,1350345,1108492,1094175,1044860,11,204,15,16,2538362,Reasonable
77,Seaford,UK,59653,Lucas,5,18752,121,No,16,High Street,1897155,1000653,1000214,1000040,3,220,18,14,2260838,Poor
80,Stowmarket,UK,61950,Martina,8,15409,113,Yes,12,High Street,1087574,1017665,1003951,1002760,10,277,12,14,3337861,Good
83,Sheringham,UK,63017,Ethan,5,16652,116,N,12,High Street,1931932,1547591,1547000,1298080,6,280,17,14,1792809,Poor
84,Silloth,UK,64781,Andrew,6,13283,108,No,19,High Street,1605018,1517910,1090982,1064902,4,243,15,17,2804353,Reasonable
85,Stotfold,UK,65437,Catalina,6,14497,111,Yes,17,High Street,1537976,1447127,1244066,1046174,5,311,17,18,2869330,Reasonable
104,Sunbury-on-Thames,UK,78305,Ava,6,13009,107,Yes,11,High Street,1143772,1106672,1059392,1051305,6,206,19,16,2651301,Reasonable
108,Shrewsbury,UK,81258,Antoine,7,15785,114,Yes,14,High Street,1135871,1132465,1072298,1034275,7,254,13,11,2291029,Poor
111,Syston,UK,83250,Amy,5,19375,123,Yes,16,High Street,1532781,1444610,1228299,1102398,2,320,12,11,2604575,Reasonable
113,Southend-on-Sea,UK,83479,Emily,9,18928,122,No,19,High Street,1428417,1099245,1078450,1027636,9,245,10,11,1665527,Poor
117,Skegness,UK,85476,Agustín,5,19037,122,Yes,10,High Street,1647297,1055850,1025509,1009779,8,247,19,13,2397407,Poor
120,Stalybridge,UK,88442,Sarah,5,14087,110,Yes,17,High Street,1997044,1804663,1461181,1290194,3,264,13,17,2564358,Reasonable
123,Spennymoor,UK,90995,Paige,5,17582,118,Yes,16,High Street,1207172,1205457,1177404,1061837,9,290,16,13,2467943,Poor
126,Sevenoaks,UK,92768,Joaquín,7,14962,112,No,10,High Street,1034523,1028457,1002231,1002201,4,246,14,16,2872001,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels in storedata die een 'Competition score' hebben die groter is dan of gelijk is aan 10 EN kleiner dan of gelijk aan 15

In [49]:
display ( storedata.loc[np.logical_and(storedata['Competition score'] >=10, storedata['Competition score'] <=15) ,:])

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
5,Southwell,UK,2309,Sarah,7,17888,119,Yes,19,Retail Park,1614716,1325848,1220059,1193318,2,394,17,11,3058134,Good
6,Swinton (South Yorkshire),UK,3800,James,8,13814,109,Yes,17,High Street,1323396,1047485,1000888,1000844,5,228,11,14,2793160,Reasonable
8,Sheffield,UK,4857,Guilherme,9,13869,109,Yes,12,Shopping Centre,1537032,1301956,1220364,1057921,9,217,19,14,3117205,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Stony Stratford,UK,92341,Constanza,7,16280,115,Yes,14,Shopping Centre,1696068,1109630,1037165,1008244,2,274,18,15,3498966,Good
130,Sutton Coldfield,UK,96852,Hannah,5,11884,104,Yes,18,Retail Park,1030405,1016260,1004442,1003598,10,200,12,14,2561019,Reasonable
131,South Benfleet,UK,96853,Vitória,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good